{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-primary">{{ website }} index</h1>
        <p>Ci dessous la liste de toutes les séries présentes sur {{ website }} !</p>

        {% for program in programs %}
            <div>
                <h2>{{ loop.index }}) {{ program.title }}</h2>
                <small>{{ program.category.name }}</small>
                <p>{{ program.summary|length > 150 ? program.summary|slice(0, 150) ~ '…' : program.summary }}</p>
                <a href="" class="btn btn-secondary">
                    Voir la fiche
                </a>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}

        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </main>
{% endblock %}