{% extends 'base.html.twig' %}

{% block title %}{{ slug }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="media">
            <img src="{{ program.poster }}" alt="{{ program.title }} poster" class="align-self-start mr-3">
            <div class="media-body">
                <h1 class="mt-0">{{ program.title }}</h1>
                <small>Catégorie : {{ program.category.name }}</small>
                <p>{{ program.summary }}</p>
            </div>
        </div>

        <a href="{{ path('wild_index') }}">
            Retour à l'index
        </a>
    </main>
{% endblock %}